<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leaderboard</title>
    <link rel="stylesheet" href="/css/expPage.css">
</head>
<body>

    <header>
        <h1 class="title">Expense Tracker App</h1>
    <header>

        <div id="check">
        <input type="checkbox" id="darkmode">
        <label for="darkmode">Darkmode</label>
        </div>
        <script>
         
           document.getElementById("darkmode").onclick = (e)=>{
                document.body.classList.toggle("dark", e.target.checked);
            } 
        </script> 
     
       <section class="content">
        <h3 class="secondTitle">LeaderBoard: </h3>

        <table class="table">
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Total Spend</th>
                </tr>
            </thead>
            {{#each values}}
            <tbody id="expenseTable">
                <th>{{this.name}}</th>
                <th>{{this.amount}}</th>
            </tbody>
            {{/each}}
        </table>
        
    </section>




</body>
</html>