<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment For Premium</title>
    <link rel="stylesheet" href="/css/premiumpage.css">
</head>
<body>
    
     <header>
        <h1 class="title">Payment For Premium</h1>
    <header>
    <div id="buttons">
    <a href="/logout">LogOut</a>
    </div>


    <section class="content">
        <h3 class="secondTitle">Payment Details: </h3>
           
                   {{#if msg}}
                          <div id="successmsg">
                          <h4 id="success">{{msg}}</h4> <a href="/">Back To Login</a>
                          </div>
                   {{else}}
                    {{#if id}}
                    
                    <form id="expForm" action="/createOrderId" method="post">
                    <span for="amount">Amount:</span>
                    <input type="number" name="amount" value="399.32" readonly>
                    <button>Create OrderID</button>
                    </form> 
                    
                    <form id="expForm">
                    <span for="orderID">OrderID:</span>
                    <input id="orderid" type="text" name="orderID" value={{id}}>
                    <button id="checkout">Check Out</button>
                    </form>
                    {{else}}
                    <form id="expForm" action="/createOrderId" method="post">
                    <span for="amount">Amount:</span>
                    <input type="number" name="amount" value="399.32" readonly>
                    <button>Create OrderID</button>
                    </form>
                    {{/if}}
                  {{/if}}   
                   
                   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

                    <div id="show" style="display: none;">
                    <form id="expForm" action="/verify" method="post">
                    <input type="text" style="display: none;" id="orderid1" name="orderid" >
                    <span for="paymentID">PayID:</span>
                    <input id="paymentid" type="text" name="paymentID"><br><br>
                    <span for="Signature">SignID:</span>
                    <input id="signature" type="text" name="signature">
                    <button id="verify">Verify</button>
                    </form>
                    </div>
                    
                    {{#if msg1}}
                    <h4 id="failure">Retry</h4>
                    {{/if}}
    </section>
    
    
      
    

{{#if id}}
<script type="text/javascript"  src="/script/checkout.js" charset="utf-8"></script>
{{/if}}

</body>
</html>