<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgetpassword</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
        
        
			<div class="login">
				<form method="post" action="">
					<label for="chk" aria-hidden="true">Reset Password</label>
					<div id="alertmsg">
					{{#if msg}}
					  <h5>{{msg}}</h5>
					  {{/if}}
					</div>
                    <input type="password" name="password" placeholder="Password" required="">
                    <input type="password" name="cnfpassword" placeholder="Confirm Password" required="">
					<button>Reset</button>
				</form>	
			</div>
     


    </div>
</body>
</html>