body{
    margin: 0;
	padding: 0;
	display:block;
	justify-content: center;
	align-items: center;
	min-height: 130vh;
	font-family: 'Jost', sans-serif;
    transition: background-color 0.3s linear, color 0.3s linear;
    background-color:#302b63;
}
.title{
    width: 500px;
    color:white;
    text-align: center;
    margin:3% auto;
}
#lutbtn a{
    float: right;
    margin-top: -100px;
    margin-right: 20px;
    font-family: 'Jost', sans-serif;
    justify-content: space-around;
    text-decoration: none;
    color: white;
}
#premiumbtn a{
    float: right;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    margin-top: -111px;
    margin-right: 110px;
    padding: 10px;
    color: white;
}
.content{
    width: 580px;
    margin: 0 auto;
    padding: 3%;
    border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.secondTitle{
    text-align:left;
    margin: 2% 0;
    font-weight: 100;
    color: white;
}
#expForm{
    margin-top: 30px;
}
#expForm span{
    padding-left: 10px;
    color: white;
}
#expForm input{
    width: 120px;
    height: 20px;
}
#expForm select{
    width: 120px;
    height: 26px;
}
#expForm button{
    width: 50%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#expForm button:hover{
	background: #6d44b8;
}

table{
    width: 100%;
    margin-top: 20px;
}
thead{
    background-color:#120d38;
    line-height: 30px;
    color: white;
}
#expenseTable a{
    text-decoration: none;
    color: #fff;
	background: #573b8a;
    padding: 6px 8px 6px 8px;
    border-radius: 5px;
    margin-top: 100px
}
#expenseTable a:hover{
	background: #6d44b8;
}
#expenseTable{
    height: 34px;
    color: white;
}


body.dark{
    background-color: #1f1f1f;
    color: white;
}

 #check label {
    background-color: rgb(0, 0, 0);
    margin-top: -90px;
    margin-right: 95px;
    color: aliceblue;
    border-radius: 5px;
    display: inline-block;
    width: 70px;
    float: right;
    align-items: center;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    position: relative;
    padding: 10px 10px 10px 10px;
    transition: background 0.3s linear;
}

body.dark #check label {
    background-color: #fff;
    color: black;
}

#check input {
    visibility: hidden;
}