body{
    margin: 0;
	padding: 0;
	display:block;
	justify-content: center;
	align-items: center;
	min-height: 130vh;
	font-family: 'Jost', sans-serif;
	/* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */
    background-color:#302b63;
}

.content{
    width: 580px;
    margin: 0 auto;
    /* background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover; */
    padding: 3%;
    border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.title{
    width: 500px;
    color:white;
    text-align: center;
    margin:3% auto;
}
#buttons{
    float: right;
    margin-top: -90px;
    margin-right: 20px;
    justify-content: space-around;
}
#buttons a{
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    padding: 10px;
   
    border-radius: 10px;
    color: white;
}
.secondTitle{
    text-align:left;
    margin: 2% 0;
    font-weight: 100;
    color: white;
}
#expForm{
    margin-top: 30px;
}
#expForm span{
    padding-left: 10px;
    color: white;
}
#expForm input{
    width: 120px;
    height: 20px;
}
#expForm button{
   margin-left: 30px;
   text-decoration: none;
   color: #fff;
   background: #573b8a;
   border-radius: 5px;
   text-align: center;
   border:none;
   width: 130px;
   height: 25px;

}
#expForm button:hover{
	background: #6d44b8;
}

#orderIDCol{
    padding-top: 20px;
}

#success{
    padding: 10px;
    background-color: rgb(141, 199, 54);
    color: rgb(243, 229, 229);
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

#successmsg{
    display: flex;
    justify-content: space-around;
}

#successmsg a{
    margin-top: 21px;
    padding: 8px;
    height: 22px;
    background-color: #573b8a;
    color: white;
    border-radius: 5px;
    width: 130px;
    text-align: center;
    text-decoration: none;
}
#successmsg a:hover{
	background: #6d44b8;
}

#failure{
    background-color: rgb(167, 23, 23);
    color: white;
    padding: 8px;
    width: 60px;
    border-radius: 5px;
    text-align: center;
}